<div class="container mt-5 mb-5">
    <div class="row row-cols-auto justify-content-center g-5">
        <form action="index.php?pg=produto&act=insert" method="POST">
          <input required placeholder="Nome do produto" type="text" name="prodnome">
          <br><br>
          <input required placeholder="Preço do produto" type="number" name="prodpreco">
          <br><br>
          <textarea required placeholder="Descrição do produto" type="text" name="proddescricao" rows="3"></textarea>
          <br><br>
          <button class="btn btn-secondary  btn-block" type=submit>Enviar</button>
      </form>
  </div>
</div>